<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome to my shopping app!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('supermarket68.png') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        body {
            padding-top: 50px;

        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('app_home') }}">Shoppy</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('app_list_categories') }}">Liste des rayons</a></li>
                {% if app.user %}
                    <li><a href="{{ path('fos_user_security_logout') }}">[ {{ app.user }} ] Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Authentification</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">S'enregister</a></li>
                {% endif %}
                <li><a href="{{ path('app_admin') }}">Admin</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    {% block body %}    {% endblock %}
</div>
<script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
