{% extends 'base.html.twig' %}

{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="container" style="padding-top: 15px">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <h3>Liste des rayons</h3>
    <div class="jumbotron">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th> Rayon :</th>
            </tr>
            </thead>
            <tbody>
            {% for cat in categories %}
                <tr>
                    <td>{{ cat.label }}</td>
                    <td><a href="{{ path('app_delete_category', {id: cat.id}) }}"
                           onclick="return confirmDelete('{{ cat.label }}');"
                        >Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <form>
            <input type="text" id="recherche"/>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script>
        function confirmDelete(label) {
            var message = 'Confirmer la suppression de ' + label;
            return confirm(message);
        }

        $('#recherche').autocomplete({
            source: function (request, response) { // les deux arguments représentent les données nécessaires au plugin
                $.ajax({
                    url: 'http://localhost/shopping/web/app_dev.php/rest/categories', // on appelle le script JSON
                    dataType: 'json', // on spécifie bien que le type de données est en JSON
                    data: {
                        name_startsWith: $('#recherche').val(), // on donne la chaîne de caractère tapée dans le champ de recherche
                        maxRows: 15
                    },

                    success: function (donnee) {
                        response($.map(donnee, function (objet) {
                            return objet; // on retourne cette forme de suggestion
                        }));
                    }
                });
            }
        });


    </script>
{% endblock %}
