{% extends 'base.html.twig' %}
{% block title %}
    Liste de courses
{% endblock %}
{% block body %}

    <h1>Liste de courses</h1>

        <h2>Enregistrer un nouvel article</h2>

        {{ form_start(form) }}
        <span class='col-md-offset-2 col-md-6'>
            {{ form_widget(form) }}
        </span>
        <span class='col-md-offset-2 col-md-6'>
            <input type="submit" value="Valider"/>
        </span>
        {{ form_end(form) }}

    <table class="table">
        <thead>
        <tr>
            <th>N°</th>
            <th>Désignation :</th>
            <th>Rayon</th>
            <th>Qté</th>
        </tr>
        </thead>
        <tbody>
        {% for it in items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ it.label }}</td>
                <td>{{ it.category.label }}</td>
                <td>{{ it.quantity }}</td>
                <td><a href="{{ path('app_plus_item', {id: it.id}) }}">+</a></td>
                <td><a href="{{ path('app_decrease_item', {id: it.id}) }}">-</a></td>
                <td><a href="{{ path('app_delete_item', {id: it.id}) }}">delete</a></td>
            </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>

{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}
    <script>
        function confirmDelete(label) {
            var message = 'Confirmer la suppression de ' + label;
            return confirm(message);
        }
    </script>
{% endblock %}
