{% extends 'base.html.twig' %}
{%  block title %}
Liste de courses
{% endblock %}
{% block body %}

    <h1>Liste de courses</h1>

    <table class="table">
        <thead>
        <tr>
            <th> N°</th>
            <th> Désignation :</th>
            <th> Qté :</th>
        </tr>
        </thead>
        <tbody>
        {% for it in items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ it.label }}</td>
                <td>{{ it.category.label }}</td>
                <td>{{ it.quantity }}</td>
                <td><a href="{{ path('app_delete_item', {id: it.id}) }}">delete</a></td>
            </tr>
        {% endfor %}
        </tr>
        </tbody>
    </table>

{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}
    <script>
        function confirmDelete(label) {
            var message = 'Confirmer la suppression de ' + label;
            return confirm(message);
        }
    </script>
{% endblock %}
