{% extends 'base.html.twig' %}
{% block title %}
    Liste de courses
{% endblock %}
{% block body %}

    <div class="container" style="padding: 50px">
        <h4>Enregistrer un nouvel article</h4>
        {% form_theme form 'bootstrap_3_layout.html.twig' %}

        {{ form_start(form) }}
        <div class="form-group">  {{ form_label(form.category) }}  {{ form_widget (form.category) }}</div>
        <div class="form-group">{{ form_label(form.label) }} {{ form_widget (form.label ) }}</div>
        <div class="form-group">{{ form_label(form.quantity) }} {{ form_widget (form.quantity) }}    </div>
        <input class="btn btn-default" type="submit" value="Valider"/>
        {{ form_end(form) }}
    </div>
    <div class="jumbotron">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>OK</th>
                <th>N°</th>
                <th>Désignation :</th>
                <th>Rayon</th>
                <th>Qté (total :
                    {% set sum = 0 %}
                    {% for it in items %}
                        {% set sum = sum + it.quantity %}
                    {% endfor %}
                    {{ sum }})
                </th>
            </tr>
            </thead>
            <tbody>
            {% for it in items %}
                <tr>
                    <td>
                        <label><input type="checkbox"></label>
                    </td>
                    <td>{{ loop.index }}</td>
                    <td>{{ it.label }}</td>
                    <td>{{ it.category.label }}</td>
                    <td>{{ it.quantity }}
                        <strong><a href="{{ path('app_plus_item', {id: it.id}) }}">[ + ]</a></strong>
                        <strong><a href="{{ path('app_decrease_item', {id: it.id}) }}">[ - ]</a></strong>
                    </td>
                    <td><a href="{{ path('app_delete_item', {id: it.id}) }}">delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}
    <script>
        function confirmDelete(label) {
            var message = 'Confirmer la suppression de ' + label;
            return confirm(message);
        }
    </script>
{% endblock %}
